.more_image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.more_text {
  font-weight: 600;
  font-size: 18px;
}

.more-screen .icon-row {
  margin-top: 30px;
}

.more-suggestion {
  margin-top: 35px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.more-suggestion__title {
  margin-bottom: 20px;
}

.more-suggestion_image {
  width: 100%;
  height: 200px;
}
