.settings-setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(106, 106, 106);
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-setting__column span:first-child {
  margin-right: 20px;
}

.settings-setting__column {
  display: flex;
  align-items: center;
}
