.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 20px 20px;
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;
}

.fa-gear{
    position: relative;
}

@keyframes rotateCog {
    from{
        transform:none;

    }
    to{
        transform: rotateZ(360deg);

    }
    
}
.screen-header__icons .fa-gear:hover{
    animation: rotateCog 2s linear infinite;
}