.status-bar {
  height: 30px;
  color: rgb(58, 58, 58);
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
}

.status-bar .status-bar__column {
  position: fixed;
  width: 100%;
  height: 30px;
  padding: 5px 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.status-bar .status-bar__column:first-child span {
  display: flex;
  align-items: center;
}
.status-bar .status-bar__column:first-child span:first-child {
  margin-right: 10px;
}
.status-bar .status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  font-weight: 400;
  align-items: center;
}
/* .status-bar__column:nth-child(2) span:first-child {
  font-size: 16px;
} */
.status-bar .status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar .status-bar__column:nth-child(3) span:nth-child(2) {
  margin: 0px 5px;
}
